html{
    height: 100%;
    width: 100%;
    margin: 0;
}

header{
    background-color: #702424;
    min-height: 8%;
    min-width: 25%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;    
    border: 0;
    color: white;
}

.acessar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.navegar{
    background-color: #10491B;
    min-width: 80%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

a{
    color: white;
    text-decoration: none;
}
.navegar img{
    width: 100px; 
    height: 45px; 
    padding-left: 100px; 
    padding-top: 4px;
}

.menu{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

section {
    background-color: #f7f1e6;
    min-width: 100%;
    min-height: 84%;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}

.container{
    background-color: #f9f5ec;
    min-width: 100%;
    min-height: 45%;
    display: flex;
    justify-content: space-around;
}


.faixa{
    background-color: white; 
    min-height: 3%;
}

.txt1 {
    background-color: #f9f5ec;
    padding-left: 15px;
    min-width: 74%;
    min-height: 90%;
    text-align: justify;
}

.txt2 {
    background-color: #f9f5ec;
    min-width: 74%;
    min-height: 90%;
    text-align: justify;
}

.img {
    background-color: #f7f1e6;
    min-width: 25%;
    min-height: 90%;
    display: flex;
    justify-content: center;

}


.login-box{
    background-color: #f7f1e6;
    min-width: 100%;
    min-height: 95%;
    display: flex;
    justify-content:flex-start;   
}

.login-cadastro{
    background-color: #f9f5ec;
    min-width: 25%;
    min-height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px;
    border-color: black;
    border-style: solid;
    margin-left: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
    gap: 2px;
}

.login-cadastro input{
    width: 40%;
    
}

.login-cadastro button{
    width: 40%;
    background-color: #702424;
    color: white;
}

.login-cadastro span{
    color: black;
    margin: 0;
    padding: 0;
}

.puzzle {
    background-color: #f7f1e6;
    min-width: 49%;
    min-height: 95%;
    display: flex;
    justify-content: center;
    padding: 0;
}

footer{
    background-color: #10491B;
    min-width: 100%;
    min-height: 10%;
    bottom: 0;
    left: 0;
}

footer span{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}


/* Avaliação com estrelas*/

.book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 100%;
    margin: 0;
    padding-left: 100px;

}


.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end; 
}

.rating input {
    display: none; 
}

.rating label {
    font-size: 40px;
    color: white; 
    cursor: pointer; 
    padding: 0 5px;
}

.rating input:checked ~ label {
    color: #702424;
}

.rating label:hover, .rating label:hover ~ label {
    color: #702424;
}

.rating label {
    transition: color 0.2s;
}