* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
    --cor00: #10491B;
    --cor01: #702424;
    --cor02: #F7F1E6;
    --cor03: #333333;
    --cor04: #e2ded4;
}
/* body */
body {
    display: flex;
    flex-direction: column;
    background-color: var(--cor02);
}

/*Navbar e header*/

body>header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    backdrop-filter: blur(10px);
    position: fixed;
}

.logo img{
    height: 60px;
    width: 80px;
}

nav>ul{
    list-style: none;
    display: flex;
    margin: 20px;
}

li>a{
    margin: 60px;
    text-decoration: none;
    color: var(--cor03);
}

li>a:hover{
    color: var(--cor01);
}

.acessar>a{
    margin:20px;
    border-radius: 15px;
    border-color: var(--cor00);
    border-style: solid;
    padding: 10px;
    text-decoration: none;
    color: var(--cor00);
}


.acessar>a:hover{
    background-color: var(--cor00);
    color: var(--cor02);
}

/*Main*/

main{
    margin-top: 90px;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.foto-livro{
    display: flex;
    width: 600px;
    justify-content: center;
}

.texto-inicial{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.texto-inicial>h1{
    color: var(--cor03);
    margin-bottom: 20px;
    font-size: 70px;
}

.texto-inicial>span{
    color: var(--cor03);
    margin-bottom: 20px;
    font-size: 20px;
    
}

.container .texto-inicial>a{
    margin-top: 20px;
    width: 150px;
    border-radius: 15px;
    border-color: var(--cor00);
    background-color: var(--cor00);
    border-style: solid;
    padding: 10px;
    text-decoration: none;
    color: var(--cor02);
    text-align: center;
}

/**/

.container-livro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: var(--cor04);
}