html{
    height: 100%;
    width: 100%;
    margin: 0;
}

header{
    background-color: #702424;
    min-height: 8%;
    min-width: 25%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;    
    border: 0;
}

.navegar{
    background-color: #10491B;
    min-width: 80%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

section {
    background-color: #f7f1e6;
    min-width: 100%;
    min-height: 84%;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}

.container{
    background-color: #f9f5ec;
    min-width: 100%;
    min-height: 45%;
    display: flex;
    justify-content: space-around;
}


.faixa{
    background-color: white; 
    min-height: 3%;
}

.txt {
    background-color: #f9f5ec;
    min-width: 74%;
    min-height: 90%;
}

.img {
    background-color: #f7f1e6;
    min-width: 25%;
    min-height: 90%;
    display: flex;
    justify-content: center;

}


.login-box{
    background-color: #f7f1e6;
    min-width: 100%;
    min-height: 95%;
    display: flex;
    justify-content:flex-start;
    
}

.login{
    background-color: #f9f5ec;
    min-width: 25%;
    min-height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px;
    border-color: black;
    border-style: solid;
}

.puzzle {
    background-color: #f7f1e6;
    min-width: 49%;
    min-height: 95%;
    display: flex;
    justify-content: center;
    padding: 0;
}

footer{
    background-color: #10491B;
    min-width: 100%;
    min-height: 10%;
    bottom: 0;
    left: 0;
}